body{
    margin: 0;
    font-size: 30px;
}

/* styling the text */
#text{
    text-align: center;
    font-size: 100px;
    color: gray;
    margin: 20px;
}


#timer{
    margin: auto;
    top: 30px;
    width: 30%;
    /* border: 5px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* styling button */
.buttons{
    text-align: center;
    width: 20%;
    margin: 15px;
    border-radius: 3px;
    background-color: rgb(66, 68, 66);
    /* border: 1px solid grey; */
}

/* on hovering */
.buttons:hover{
    cursor: pointer;
    background-color: rgb(172, 165, 165);
}
